.section__overviews {
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    background: #EAF0F9;
}

.overviews__slider  {
    display: flex;
    margin: 0;
    padding: 0;
    width: 2.5rem;
    z-index: 10;
    cursor: pointer;
    font-size: 0;
    border: 0;
}
