.form__item {
    width: 100%;
    padding: 1.3125rem 1.5rem 1.25rem 1.5rem;
    border: 0 solid #FFFFFF;
    border-radius: 0.5rem;
    outline: none;
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    color: #383838;
    font-weight: 400;
    cursor: pointer;
}

.form__item:hover,
.form__item:focus{
    border: 0.1875rem solid #F5BD41;
    margin: -0.1875rem 0;
}

.second__input {
    display: flex;
    width: 48%;
}



