.overviews__slider  {
    display: flex;
    margin: 0;
    padding: 0;
    width: 2.5rem;
    z-index: 10;
    cursor: pointer;
    font-size: 0;
    border: 0;
}

.overviews__item {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

.overviews__img {
    position: relative;
    margin-bottom: 1.5rem;
}

.overviews__img img {
    display: block;
    height: 296px;
    width: 296px;
    object-fit: cover;
}

.overviews__tittle {
    font-size: 1.5rem;
    color: #3077C6;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.overviews__location {
    font-size: 1.5rem;
    color: #BFBFBF;
    font-weight: 400;
}