.hotelPage {
    background: #EAF0F9;
    padding: 120px 0;
}

.hotelPage__header {
    background: #10367C;
}

.hotelPage__wrapper {
    display: flex;
}

.hotelPage__img {
    display: block;
    margin-right: 16px;
}
.hotelPage__img > img {
    width: 450px;
    height: 450px;
}

.hotelPage__Info {
    width: 100%;
}
.hotelPage__Text {
    font-size: 18px;
    color: #383838;
}

.hotelPage__Text > a {
    font-size: 20px;
    color: #3077C6;
}
