.header {
    padding-top: 3.125rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__logo {
    display: block;
    max-width: 12.8125rem;
    max-height: 2.5rem;
    fill: #3077C6;
}

.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.5rem;
}
.navigation .nav__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 1.5rem;
}
.navigation .nav__links a {
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    margin-right: 1.5rem;
    text-decoration: none;
    -webkit-transition: color 0.1s linear;
    transition: color 0.1s linear;
}
.navigation .nav__links a:after {
    content: "";
    display: block;
    width: 85%;
    bottom: -0.625rem;
    position: absolute;
    background-color: #F5BD41;
    border: 0.125rem solid #F5BD41;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
}
.navigation .nav__links a:last-child {
    margin-right: 0;
}
.navigation .nav__links a:hover:after {
    opacity: 1;
}
.navigation .nav__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 1.5rem;
}
.navigation .nav__icons a {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    margin-right: 1.5rem;
    color: #FFFFFF;
    text-decoration: none;
    -webkit-transition: color 0.1s linear;
    transition: color 0.1s linear;
}
.navigation .nav__icons a:nth-child(2) {
    margin-right: 0;
}
.navigation .nav__icons a .header__switcher {
    display: block;
    max-width: 1.875rem;
    max-height: 1.875rem;
    fill: #FFFFFF;
}
.navigation .nav__icons a .header__account {
    display: block;
    max-width: 2.5rem;
    max-height: 2.5rem;
    fill: #FFFFFF;
}
.navigation .nav__toggle {
    width: 1.5rem;
    height: 1.5rem;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 0;
    background: transparent;
}
.navigation .nav__toggle:hover {
    cursor: pointer;
}
.navigation .nav__toggle:hover span:nth-child(1) {
    -webkit-transform: translate(0.25rem, -0.0625rem) rotate(45deg);
    transform: translate(0.25rem, -0.0625rem) rotate(45deg);
    -webkit-transform-origin: left top;
    transform-origin: left top;
}
.navigation .nav__toggle:hover span:nth-child(2) {
    -webkit-transform: scale(0);
    transform: scale(0);
}
.navigation .nav__toggle span:nth-child(3) {
    -webkit-transform: translate(-0.1875rem, -1rem) rotate(-45deg);
    transform: translate(-0.1875rem, -1rem) rotate(-45deg);
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
}
