.wrapperSlider {
    margin: 0 -16px;
    height: 100%;
}
.wrapperSliderReviews .slick-next {
    z-index: 1000;
    transform: translate3d(-44px, -190px, 0);
}
.wrapperSliderReviews .slick-next img {
    z-index: 1000;
}

.wrapperSliderReviews .slick-prev:before,
.wrapperSliderReviews .slick-next:before {
    content: '' !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.wrapperSliderReviews .slick-prev {
    z-index: 1000;
    transform: translate3d(15px, -190px, 0);
}
