.wrapperSlider .slick-next {
    transform: translate3d(-40px, -80px, 0);
}

.wrapperSlider .slick-prev:before,
.wrapperSlider .slick-next:before {
    content: '' !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.wrapperSlider .slick-prev {
    z-index: 1000;
    transform: translate3d(7px, -80px, 0);
}



