.wrapperSlider .slick-next {
    transform: translate3d(-40px, -65px, 0);
}

.wrapperSlider .slick-prev:before,
.wrapperSlider .slick-next:before  {
    content: '' !important;
}

.wrapperSlider .slick-prev {
    z-index: 1000;
    transform: translate3d(7px, -65px, 0);
}

