.first__input label {
    position:absolute;
    font-size: 18px;
    top:21px;
    left:24px;
    color: #383838;
    transition:.5s;
    pointer-events:none;
}

.first__input label.active {
    transform: translateY(-56px);
    transition:.5s;
    color: #FFFFFF;
    border: none;
}

.first__input {
    position:relative;
}



