.signIn {
    padding: 0 40px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signIn label {
    margin: 0 auto 16px;
    font-size: 16px;
    font-weight: 300;
    color: #333333;
}

.signIn input {
    font-size: 12px;
    padding: 8px;
    margin-top: 8px;
    width: 320px;
    height: 41px;
    border: 1px solid #CECECE;
    border-radius: 8px;
}

.signIn input:focus,
.signIn input:hover {
    border: none;
    outline: 1px solid #F5BD41;
}

.signIn input:nth-child(4) {
    margin-bottom: 24px;
}

.signIn Button {
    width: 320px;
    height: 48px;
    background: #3077C6;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

.signIn Button:hover,
.signIn Button:focus {
    color: #F5BD41;
    transition: 0.2s;
}
