.SignInSection {
    background-image: url("/src/assets/Img/mainBackground.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 56.25rem;
    background-size: cover;
    position: relative;
}

.singInWindow {
    margin: 171px auto 0;
    background: #FFFFFF;
    width: 400px;
    height: 380px;
}

.singInWindow h3 {
    margin: 36px 0 40px;
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.additionallyOffer {
    padding: 0 40px;
}

.singInWindow p {
    text-align: center;
}

.singInWindow p a {
    margin-left: 4px;
    font-size: 18px;
    color: #3077C6;
    text-decoration: none;
}

.singInWindow p a:hover {
    color: #F5BD41;
}
