.Inner {
    margin-top: 196px;
}

.Inner__title {
    margin-bottom: 145px;
    font-size: 3.125rem;
    color: #FFFFFF;
    font-weight: 500;
}


.intro__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
}

.intro__icons a {
    margin-right: 1rem;
}

.intro__icons a:last-child {
    margin-right: 0;
}