.intro__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 77rem;
    margin: 0 auto 9.5rem;
    background-color: #FFFFFF;
    border-radius: 0.5rem;
}
.intro__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 77rem;
    width: 100%;
    border-radius: 0.5rem;
}

.intro__form .form__input {
    width: 100%;
    padding: 1.3125rem 1.5rem 1.25rem 1.5rem;
    border: 0 solid #FFFFFF;
    border-radius: 0.5rem;
    outline: none;
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    color: #383838;
    font-weight: 400;
}

.form__input:hover,
.form__input:focus {
    border: 0.1875rem solid #F5BD41;
    margin: -0.1875rem 0;
}

.intro__form .form__label {
    position: absolute;
    pointer-events: none;
    left: 1.5rem;
    right: 0;
    top: 0.75rem;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    color: #383838;
    font-weight: 400;
    line-height: 2.625rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.intro__form .first__input {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 48%;
    background-color: #FFFFFF;
    border-radius: 0.5rem;
}

.intro__form .first__input .form__icon {
    display: none;
}

.intro__form .first__input .form__icon .icon__search {
    display: block;
    max-width: 1rem;
    max-height: 1rem;
    fill: #BFBFBF;
}

.intro__form .first__input .form__item {
    width: 100%;
    position: relative;
}

.intro__form .second__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30%;
    border-radius: 0.5rem;
    background-color: #FFF;
}


.intro__form .form__input:focus ~ .form__label,
.intro__form .form__input:not(:focus):valid ~ .form__label {
    top: -3.25rem;
    font-size: 1.125rem;
    color: #FFFFFF;
    font-weight: 400;
}

.positionModalMenu {
    position: relative;
}

::-webkit-scrollbar {
    width: 0;
}

.counterContainer {
    display: flex;
    background-color: #FFF;
}

.namesNumberChanger {
    display: flex;
    flex-direction: column;
    margin: 28px 28px 28px 22px;
}

.namesNumberChanger label {
    margin-bottom: 23px;
}

.namesNumberChanger label:last-child {
    margin-bottom: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    text-align: center;
    background: #FFF;
    border: none;
    max-height: 20px;
    max-width: 25px
}

/* display:none border, background, and such size input (+/-)*/

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

/* display:none arrow (+/-)*/

.counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.numberChanger {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

.counters {
    margin-top: 22px;
}

.btnCounterMin, .btnCounterPlus {
    min-width: 30px;
    min-height: 30px;
    background-color: #FFF;
    border: 1px solid #CECECE;
    color: #CECECE;
    font-size: 18px;
}

.btnActive {
    border: 1px solid #3077C6;
    color: #3077C6;
}

.btnCounterMin {
    margin-right: 19px;
}

.btnCounterPlus {
    margin: 0 20px 0 22px;
}

.addAgeChildren {
    display: none;
    background-color: #FFFFFF;
    font-size: 12px;
    margin: 0 22px 12px 19px;
}

.selectors {
    display: block;
}

.selectors > select {
    position: relative;
    width: 100px;
    height: 30px;
    padding-left: 5px;
    margin: 0 0 12px 20px;
    border: 1px solid #3077C6;
    cursor: pointer;
    overflow: hidden;
    font-size: 12px;
}

.selectors > select:nth-child(2n) {
    margin-left: 12px;
}

.selectors > select:focus {
    outline: none;
    box-shadow: none;
    border: solid 1px #3077C6;
}

.intro__form .form__button {
    position: relative;
    left: 2px;
    padding: 18px 58px;
    background-color: #3077C6;
    border: 0.0625rem solid #3077C6;
    border-radius: 0.5rem;
    outline: none;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
}

.intro__form .form__button:hover {
    color: #F5BD41;
    border: 0.0625rem solid #3077C6;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.intro__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
}

.intro__icons a {
    margin-right: 1rem;
}

.intro__icons a:last-child {
    margin-right: 0;
}