.intro__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 77rem;
    margin: 0 auto 9.5rem;
    background-color: #FFFFFF;
    border-radius: 0.5rem;
}
.intro__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 77rem;
    width: 100%;
    border-radius: 0.5rem;
}

.intro__form .form__input {
    width: 100%;
    padding: 1.3125rem 1.5rem 1.25rem 1.5rem;
    border: 0 solid #FFFFFF;
    border-radius: 0.5rem;
    outline: none;
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    color: #383838;
    font-weight: 400;
}

.form__input:hover,
.form__input:focus {
    border: 0.1875rem solid #F5BD41;
    margin: -0.1875rem 0;
}

.intro__form .form__label {
    position: absolute;
    pointer-events: none;
    left: 1.5rem;
    right: 0;
    top: 0.75rem;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    color: #383838;
    font-weight: 400;
    line-height: 2.625rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.intro__form .first__input {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 48%;
    background-color: #FFFFFF;
    border-radius: 0.5rem;
}

.intro__form .first__input .form__icon {
    display: none;
}

.intro__form .first__input .form__icon .icon__search {
    display: block;
    max-width: 1rem;
    max-height: 1rem;
    fill: #BFBFBF;
}

.intro__form .first__input .form__item {
    width: 100%;
    position: relative;
}

.intro__form .second__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30%;
    border-radius: 0.5rem;
    background-color: #FFF;
}

.intro__form .form__button {
    position: relative;
    padding: 18px 58px;
    background-color: #3077C6;
    border: 0.0625rem solid #3077C6;
    border-radius: 0.5rem;
    outline: none;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
    right: -1px;
}

.intro__form .form__button:hover {
    color: #F5BD41;
    border: 0.0625rem solid #3077C6;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}