.Header {
    background-image:
            url(
            "/src/assets/Img/mainBackground.png"
            );
    height: 100vh;
    background-repeat:no-repeat;
    background-position: center;
    min-height: 56.25rem;
    background-size: cover;
}