.containerAll {
    display: flex;
    width: 27%;
    border-radius: 0.5rem;
    background-color: #FFF;
}

.container1 {
    position: relative;
    display: flex;
    color: #383838;
}

.container2 {
    position: absolute;
    top: 68%;
    background: #FFFFFF;
    padding: 22px;
    border-radius: 8px;
    width: 259px;
    display: flex;
    flex-direction: column;
    position: absolute;
}
