.destinationsItem {
    display: flex;
    flex-direction: column;
    width: 24%;
    margin-right: 16px;
    margin-bottom: 48px;
    animation: fade 2s;
}

@keyframes fade {
    0% {
        opacity: 0.01;
    }
    100% {
        opacity: 1;
    }
}

.destinationsItem:nth-child(4),
.destinationsItem:nth-child(8){
    margin-right: 0;
}
.destinationsItem:hover .destinations__img img {
    opacity: 0.7;
}

.destinationsItem:hover .destinations__button {
    opacity: 1;
}

.destinationsItem a {
    font-size: 1.5rem;
    color: #3077C6;
    font-weight: 400;
    margin-bottom: 1.875rem;
    text-decoration: none;
}

.destinations__content {
    position: relative;
}

.destinations__img {
    position: relative;
    background: rgba(56, 56, 56, 0.4);
    box-shadow: inset 0 0.25rem 4.375rem rgba(56, 56, 56, 0.5);
    margin-bottom: 1.5rem;
}

.destinations__img img {
    display: block;
    width: 100%;
    height: auto;
    transition: opacity 0.3s linear;
    object-fit: contain;
}

.destinations__button {
    width: 100%;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transition: opacity 0.1s linear;
}

.destinations__button button {
    padding: 1rem 1.5rem;
    background-color: #FFFFFF;
    border: 0.0625rem solid #3077C6;
    border-radius: 0.5rem;
    font-size: 1.125rem;
    color: #3077C6;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
}

.destinations__button button:hover {
    color: #F5BD41;
    border: 0.0625rem solid #3077C6;
    background-color: #3077C6;
    transition: opacity 0.6s linear;
}