.reviewItem {
    display: flex;
    flex-direction: column;
    margin: 8px;
    background: #EAF0F9;
    font-size: 18px;
    color: #383838;
    font-weight: 400;
    height: 760px;
}

.reviewHeader {
    display: block;
    position: relative;
}

.reviewImgWrapper img {
    display: block;
    width: 100%;
}

.reviewHeader:hover .reviewPriceWrapper {
    opacity: 1;
    transition: opacity 0.3s linear;
}

.reviewPriceWrapper {
    width: 100%;
    padding: 1rem 0 1.125rem 1.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    opacity: 0;
    color: #FFFFFF;
    background-color: rgba(56, 56, 56, 0.7);
}

.reviewsContent {
    display: flex;
    justify-content: space-between;
    margin: 24px;
}

.reviewLocationWrapper {
    color: #3077C6;
}
.reviewLocationWrapper p:first-child{
    font-weight: 500;
    margin-bottom: 16px;
}

.reviewCounterWrapper button{
    transform: translate3d(65%, 0, 0);
    padding: 4px 11px;
    margin-bottom: 0.5rem;
    border: 0.0625rem solid #10367C;
    border-radius: 0.5rem;
    background-color: #10367C;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
}
.reviewCounterWrapper button:hover {
    color: #F5BD41;
    transition: opacity 0.1s linear;
}

.reviewCounterWrapper p{
    font-size: 14px;
    color: #BFBFBF;
}
.reviewUserWrapper {
    display: flex;
    margin-left: 24px;
}
.reviewAvatarUserWrapper svg{
    display: block;
    max-width: 3.3125rem;
    max-height: 3.3125rem;
    fill: #BFBFBF;
    margin-right: 16px;
}
.reviewUserInfoWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.reviewUserInfoWrapper p {
    margin-bottom: 8px;
}
.reviewUserFromWrapper {
    display: flex;
    color: #BFBFBF;
}

.reviewUserFromWrapper img {
    max-width: 18px;
    margin-right: 8px;
}

.review__text {
    margin: 24px;
}